body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
 }
 .brand {
   color: white;
   font-size: x-large;
   font-weight: 700;
 }
 .brand:hover {
   color: white;
   transform: scale(1.1);
    transition: all 0.3s ease-in-out;
 }
 .mainNav, .login-box {
 	 box-shadow: 1px 2px 12px -1px rgba(0,0,0,0.75);
  -webkit-box-shadow: 1px 2px 12px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 2px 12px -1px rgba(0,0,0,0.75);
 }
 .login-box{
    padding: 30px;
    border-radius: 10px;
    background-color: beige;
    border: 1px solid green;
    border-left: 4px solid green;
 }
 .input1
  {
      height: 45px;
      font-size: 18px;
      border-bottom: 2px solid green;
  }
 